<a href="https://colab.research.google.com/github/kellytdunn/Distance-Calculator/blob/main/GIS_Distance_calculator_OSM_street_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prepare Data

In [ ]:
% pip install geopandas

#import matplotlib.pyplot as plt
import geopy.distance
from google.colab import files
import io

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 15.2 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.1.post1)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 41.1 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 54.0 MB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

# New Section

In [ ]:
uploaded=files.upload()
excel_file = io.BytesIO(uploaded.get('OD data with transformed access.xlsx'))

Saving OD data with transformed access.xlsx to OD data with transformed access.xlsx

In [ ]:
from geopy.distance import vincenty
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_excel(excel_file, 0)

In [ ]:
df = df1

,Batch.No,passcode_1,passcode_2,passcode_3,RangeID,survey_mode,Route,Direction,route_id,direction_id,...,home_lng.1,white_alone,language_proficiency,one_direction,boarding latlong,dest latlong,origin latlong,OD Distance,Access Distance,Exclude from Access Distance
25,003003\4815722.tif,BE222211,BE,222211,2513.0,2.0,70,I,100264,1.0,...,NaN,NaN,NaN,NaN,"(47.66452, -122.31204)","(47.6405, -122.125)","(47.6661, -122.3057)",8.618472,0.315375,NaN
26,003003\4815723.tif,BE209704,BE,209704,2231.0,2.0,8,I,100275,1.0,...,NaN,NaN,NaN,NaN,"(47.61847, -122.33822)","(47.6253, -122.321)","(47.6222, -122.342)",1.003940,0.312375,NaN
27,003003\4815724.tif,BE214049,BE,214049,2333.0,2.0,70,O,NaN,NaN,...,NaN,NaN,NaN,NaN,"(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)",0.000000,0.000000,NaN
28,003003\4815725.tif,BE212666,BE,212666,2308.0,2.0,48,O,100228,0.0,...,NaN,NaN,NaN,NaN,"(47.64492, -122.30439)","(47.6613, -122.3119)","(47.727, -122.1796)",7.660474,8.126898,NaN
29,003003\4815726.tif,BE218844,BE,218844,2440.0,2.0,60,I,100249,1.0,...,NaN,NaN,NaN,NaN,"(47.56337, -122.31341)","(47.62, -122.3127)","(47.5635, -122.3089)",3.907370,0.211078,NaN

In [ ]:
# convert NAs to zero now, before they become the tuples I need. 

cols_fillna = ['origin_lat','origin_lng','destination_lat','destination_lng','board_stop_lat','board_stop_lon']
# replace 'NaN' with zero in these columns
for col in cols_fillna:
     df[col].fillna(1,inplace=True)

#should not see any nans in the output for the columns above
#But I think maybe the inputs were already zeroes, so they're not getting switched to 1s here

,Batch.No,passcode_1,passcode_2,passcode_3,RangeID,survey_mode,Route,Direction,route_id,direction_id,...,home_lng.1,white_alone,language_proficiency,one_direction,boarding latlong,dest latlong,origin latlong,OD Distance,Access Distance,Exclude from Access Distance
25,003003\4815722.tif,BE222211,BE,222211,2513.0,2.0,70,I,100264,1.0,...,NaN,NaN,NaN,NaN,"(47.66452, -122.31204)","(47.6405, -122.125)","(47.6661, -122.3057)",8.618472,0.315375,NaN
26,003003\4815723.tif,BE209704,BE,209704,2231.0,2.0,8,I,100275,1.0,...,NaN,NaN,NaN,NaN,"(47.61847, -122.33822)","(47.6253, -122.321)","(47.6222, -122.342)",1.003940,0.312375,NaN
27,003003\4815724.tif,BE214049,BE,214049,2333.0,2.0,70,O,NaN,NaN,...,NaN,NaN,NaN,NaN,"(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)",0.000000,0.000000,NaN
28,003003\4815725.tif,BE212666,BE,212666,2308.0,2.0,48,O,100228,0.0,...,NaN,NaN,NaN,NaN,"(47.64492, -122.30439)","(47.6613, -122.3119)","(47.727, -122.1796)",7.660474,8.126898,NaN
29,003003\4815726.tif,BE218844,BE,218844,2440.0,2.0,60,I,100249,1.0,...,NaN,NaN,NaN,NaN,"(47.56337, -122.31341)","(47.62, -122.3127)","(47.5635, -122.3089)",3.907370,0.211078,NaN

In [ ]:
df['board_stop_lon'].isnull().sum()

0

# Calculate Origin-Destination Distances

In [ ]:
import requests
import json

In [ ]:
testdf = df[:50]

In [ ]:
def Accessdistancer(row):
  lon_1 = (row['origin_lng'])
  lat_1 = (row['origin_lat'])
  lon_2 = (row['board_stop_lon'])
  lat_2 = (row['board_stop_lat'])
  # call the OSMR API
  r = requests.get(f"http://router.project-osrm.org/route/v1/foot/{lon_1},{lat_1};{lon_2},{lat_2}?overview=false""")
  # then you load the response using the json libray
  routes = json.loads(r.content) #returns dictionary which includes `routes` as one key and a list of dictionaries as its value. Diff results if fed (0,0) point.
  if "routes" in routes: 
    route_1 = routes.get("routes")[0] #takes the value from `route`, which is a list of dictionaries, then returns the first (and only) dictionary from that list. 
  else:
    route_1 = {'distance':0}
  return (route_1['distance']*0.000621371) #takes just the value of distance from the dictionary and converts meters to miles
#http://project-osrm.org/docs/v5.5.1/api/#route-service

In [ ]:
#will overwrite excel file last exported, so download it first.
current_chunk = df[14001:16501] #end +1 higher than you want
access = current_chunk.apply(Accessdistancer, axis = 1) #generate pandas series of access distances
access = pd.Series(access, name = "Street Network Distance") #give it a name
newdf = df.merge(access, left_index=True, right_index=True) #join series to existing df, based on index. just keep those in the chunk I want.
newdf.to_excel('OD dataset with street network distances.xlsx') #export df to excel

In [ ]:
#will need to re-import aggregated file before finishing the part below.

In [ ]:
#now watch for obs where boarding location is 0 but origin is not, so a very large distance is calculated.
too_high = df['Access Distance']>7000
sum(too_high)

In [ ]:
df.loc[df['Access Distance'] > 7000, 'Access Distance'] = 0

In [ ]:
df[6704:6708]

In [ ]:
df.to_excel('OD dataset with street network distances.xlsx', index=False)